<nav class="navbar navbar-expand">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/img/abklp_brand.svg" height="40" />
      <strong class="d-block">We Care For Your Health</strong>
    </a>
    <ul class="navbar-nav">
      <!-- <li *ngIf="auth.authenticated" class="nav-item dropdown">
        <a
          *ngIf="
            title === 'Appointment List' || title === 'Create new Appointment';
            else deactiveList
          "
          class="nav-link active dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
        >
          Schedule
        </a>
        <ng-template #deactiveList>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            Schedule
          </a>
        </ng-template>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" [routerLink]="['/appointments', 'list']">
              Appointment List
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/appointments', 'add']">
              Create Appointment
            </a>
          </li>
        </ul>
      </li> -->
      <!-- <li *ngIf="auth.authenticated" class="nav-item">
        <a
          class="nav-link"
          [class.active]="title === 'search-page'"
          [routerLink]="['/medical-record', 'search']"
          >Search Medical Record</a
        >
      </li> -->
      <li *ngIf="auth.authenticated && !this.isPatient" class="nav-item">
        <a
          class="nav-link"
          [class.active]="title == 'Dashboard'"
          [routerLink]="['/medical-record/search']"
          >Dashboard</a
        >
      </li>
      <li *ngIf="auth.authenticated && this.isPatient" class="nav-item">
        <a
          class="nav-link"
          [class.active]="title == 'Profile'"
          [routerLink]="['/user', 'profile']"
          >Profile</a
        >
      </li>
      <li *ngIf="auth.authenticated && !this.isPatient" class="nav-item">
        <a
          class="nav-link"
          [class.active]="title == 'Profile'"
          [routerLink]="['/employee', 'profile']"
          >Profile</a
        >
      </li>
      <li *ngIf="auth.authenticated" class="nav-item">
        <a class="nav-link" routerLink="" (click)="logout()">
          Sign Out ({{ auth.username }})
        </a>
      </li>
      <li *ngIf="!auth.authenticated" class="nav-item">
        <a class="nav-link" [routerLink]="['auth', 'login']"> Sign In </a>
      </li>
      <li *ngIf="!auth.authenticated" class="nav-item">
        <a class="nav-link" [routerLink]="['auth', 'register']"> Sign Up </a>
      </li>
    </ul>
  </div>
</nav>
