<div class="SbMargin row align-items-md-stretch">
  <div class="col-md-3 align-items-center">
    <div *ngIf="isMedicalRecord">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div class="col-md-6 align-items-center">
    <br />
    <div class="h-300 p-5 bg-light border rounded-4">
      <div *ngIf="isMedicalRecord">
        <h1 class="headTitle text-center">Medical Record</h1>
      </div>

      <div *ngIf="!isMedicalRecord">
        <h3 class="headTitleSP text-right">Patient Name: {{ patientName }}</h3>
        <br />
      </div>
      <!-- begin medical record -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">Diagnostic | Findings</th>
              <th class="text-center">Medication</th>
              <th class="text-center">Recorded Date</th>
              <!-- <th class="text-center">Physician</th> -->
              <th class="text-center" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="medicalRecord.length > 0">
            <tr *ngFor="let item of medicalRecord; let i = index">
              <td class="text-center">#{{ i + 1 }}</td>
              <td class="text-center">{{ item.diagnostic }}</td>
              <td class="text-center">{{ item.medicine }}</td>
              <td class="text-center">{{ item.createdAt }}</td>
              <!-- <td class="text-center">{{item.doctorName}}</td> -->

              <td class="text-center">
                <button
                  [routerLink]="['/medical-record', 'edit', item._id]"
                  class="btn bg-primary btn-primary btn-sm"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
              <td class="text-center">
                <button
                  (click)="deleteMethod(item._id)"
                  class="btn bg-danger btn-danger btn-sm"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>

          <!-- begin empty table -->
          <tbody *ngIf="medicalRecord.length === 0">
            <tr>
              <td class="text-center" colspan="6">No records to display :(</td>
            </tr>
          </tbody>
          <!-- end empty table -->
        </table>
      </div>
      <!-- end medical record -->
    </div>
  </div>
  <div class="col-md-3 align-items-center"></div>
</div>
