<div *ngIf="auth.authenticated" class="col-md-12 align-items-center">
  <!--SideBar-->
  <br />
  <div
    class="SbMargin d-flex flex-column flex-shrink-0 p-3 text-white bg-info border rounded-2"
    style="width: 280px"
  >
    <ul class="nav nav-pills flex-column mb-auto">
      <!-- ACCOUNT INFO PATIENT START -->
      <li class="nav-item" *ngIf="this.isPatient">
        <a
          class="nav-link text-white"
          [class.active]="title == 'Profile'"
          [routerLink]="'/user/profile'"
          routerLinkActive="active"
          RouterLinkActiveOptions="{exact: true}"
        >
          {{ sideTitles[0] }}
        </a>
      </li>
      <!-- ACCOUNT INFO PATIENT END -->

      <!-- ACCOUNT INFO EMPLOYEE START -->
      <li class="nav-item" *ngIf="this.isAdmin && this.isEmpProfilePg">
        <a
          class="nav-link text-white"
          [class.active]="title == 'Profile'"
          [routerLink]="'/employee/profile'"
          routerLinkActive="active"
          RouterLinkActiveOptions="{exact: true}"
        >
          {{ sideTitles[0] }}
        </a>
      </li>
      <!-- ACCOUNT INFO EMPLOYEE END -->

      <!-- USER LIST START -->
      <li class="nav-item" *ngIf="!this.isPatient && !this.isEmpProfilePg">
        <a
          class="nav-link text-white"
          [class.active]="title == 'USER LIST'"
          [routerLink]="'/admin/dashboard'"
          routerLinkActive="active"
        >
          {{ sideTitles[5] }}
        </a>
      </li>
      <!-- USER LIST END -->

      <!-- MEDICAL RECORD LIST START -->
      <li *ngIf="this.isPatient">
        <a
          class="nav-link text-white"
          [class.active]="title == 'Medical Record'"
          [routerLink]="'/medical-record/list'"
          routerLinkActive="active"
        >
          {{ sideTitles[1] }}
        </a>
      </li>
      <!-- MEDICAL RECORD LIST END -->

      <div *ngIf="!this.isPatient && !this.isEmpProfilePg">
        <!-- ADD EDIT START -->
        <li>
          <!--if not edit mode see this -->
          <a
            *ngIf="!editing"
            class="nav-link text-white"
            [class.active]="title == 'Add Medical Record'"
            [routerLink]="'/medical-record/add'"
            routerLinkActive="active"
          >
            {{ sideTitles[2] }}
          </a>

          <!--if edit mode see this -->
          <a
            *ngIf="editing"
            class="nav-link text-white"
            [class.active]="title == 'Edit Medical Record'"
            [routerLink]="'/medical-record/edit'"
            routerLinkActive="active"
          >
            Edit Medical Record
          </a>
        </li>
        <!-- ADD EDIT END  -->

        <!-- SEARCH MED START -->
        <li>
          <a
            class="nav-link text-white"
            [class.active]="title == 'Search Medical Record'"
            [routerLink]="['/medical-record', 'search']"
            routerLinkActive="active"
          >
            {{ sideTitles[3] }}
          </a>
        </li>
        <!-- SEARCH MED END -->
      </div>

      <!-- APPOINTMENT START-->
      <li *ngIf="!this.isEmpProfilePg">
        <a
          class="nav-link text-white"
          [class.active]="title == 'Appointment List'"
          [routerLink]="['/appointments', 'list']"
          routerLinkActive="active"
        >
          {{ sideTitles[4] }}
        </a>
      </li>
      <!-- APPOINTMENT END  -->
    </ul>
  </div>
</div>
