<div class="SbMargin row align-items-md-stretch">
  <div class="col-md-3 align-items-center">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-6 align-items-center">
    <br />
    <div class="h-300 p-5 bg-light border rounded-4">
      <h1 class="headTitle text-center">
        {{ editing ? "Edit" : "Add" }} Medical Record
      </h1>

      <!--Begin Add - Edit MEdical Record -->
      <form #form="ngForm" (ngSubmit)="save(form)">
        <div class="form-group">
          <input type="hidden" name="id" [(ngModel)]="_medicalRecord._id" />
        </div>

        <!-- 00 begin diagnostic | diagnostic field -->
        <div class="form-group">
          <label for="diagnosticTextField"
            ><strong>Findings | Diagnostic</strong></label
          >
          <textarea
            type="text"
            class="form-control"
            id="diagnosticTextField"
            placeholder="Enter Patient Diagnotics & Findings e.g. Fever"
            name="diagnostic"
            [(ngModel)]="_medicalRecord.diagnostic"
          >
          </textarea>
        </div>

        <!-- start validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isFindingsValid">
            Please write patient's finding or diagnostic
          </div>
        </div>
        <!-- end validation -->
        <!-- 00 end diagnostic | diagnostic field -->
        <br />
        <!-- 01 begin note for medication-->
        <div class="form-group">
          <label for="medicineTextField"><strong>Medication</strong></label>
          <textarea
            type="text"
            class="form-control"
            id="medicineTextField"
            placeholder="Enter Patient Medicine Prescription"
            name="medicine"
            [(ngModel)]="_medicalRecord.medicine"
          >
          </textarea>
        </div>

        <!-- medication validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isMedicationValid">
            Please write patient's precribe medication
          </div>
        </div>
        <!-- end validation -->
        <!-- 01 end note for medication-->
        <br />

        <!-- 02 recorded date field -->
        <div class="form-group">
          <label for="createdAtTextField"
            ><strong>Recorded Date</strong>
          </label>
          <input
            type="date"
            class="form-control"
            id="createdAtTextField"
            name="createdAt"
            [(ngModel)]="_medicalRecord.createdAt"
            required
          />
        </div>

        <!-- recorded date validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isRecordDateValid">
            The start date must be greater or equals to than today's date.
          </div>
        </div>
        <!-- end validation -->
        <!-- 02 END recorded date field -->

        <br />
        <!-- <div class="form-group">
          <label for="doctor"><strong>Physician</strong></label>
          <select
            class="form-control"
            id="doctor"
            required
            [(ngModel)]="_medicalRecord.doctorName"
            name="doctor"
            #doctor="ngModel"
          >
            <option *ngFor="let pow of doctorList" [value]="pow">
              {{ pow }}
            </option>
          </select>
          <div
            [hidden]="doctor.valid || doctor.pristine"
            class="alert alert-danger"
          >
            Select the doctor
          </div>
        </div> -->

        <!-- doctor validation -->
        <!-- <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isDoctorValid">Select the prescribing doctor</div>
        </div> -->
        <!-- end validation -->

        <br />
        <!-- begin actions -->
        <button class="btn btn-primary">
          <i class="fa-solid fa-pen-to-square"></i>
          Submit
        </button>
        <span>&nbsp;</span>
        <a [routerLink]="'/user/medical-record/list'" class="btn btn-secondary">
          <i class="fa-solid fa-rotate-left"></i>
          Cancel
        </a>
        <!-- end actions -->

        <!-- end description -->
      </form>
      <!--End Add - Edit MEdical Record -->
    </div>
  </div>
  <div class="col-md-3 align-items-center"></div>
</div>
