.col-md-2 {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 30px;
}

.nav li a:hover{
    color: white !important;
    background-color: rgb(195, 97, 240) !important;
}
