<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
      </nav>
      <!-- end breadcrumb -->

      <!-- begin loading -->
      <loading-placeholder *ngIf="!this.isReady"></loading-placeholder>
      <!-- end loading -->

      <!-- begin list user -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">First name</th>
              <th class="text-center">Last name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Phone number</th>
              <th class="text-center">Username</th>
              <th class="text-center">Role</th>
            </tr>
          </thead>

          <tbody *ngIf="userList.length > 0">
            <tr *ngFor="let user of userList; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ user.firstName }}</td>
              <td class="text-center">{{ user.lastName }}</td>
              <td class="text-center">{{ user.email }}</td>
              <td class="text-center">{{ user.phoneNumber }}</td>
              <td class="text-center">{{ user.username }}</td>
              <td class="text-center">{{ toCapitalize(user.role) }}</td>
            </tr>
          </tbody>
          <!-- begin empty table -->
          <tbody *ngIf="userList.length === 0">
            <tr *ngFor="let user of userList; let i = index">
              <td class="text-center" colspan="7">No records to display :(</td>
            </tr>
          </tbody>
          <!-- end empty table -->
        </table>

        <nav aria-label="list-pagination">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a
                class="page-link"
                aria-label="previous"
                (click)="loadPrevPage()"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link">{{ currentPage }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPage">
              <a class="page-link" aria-label="next" (click)="loadNextPage()">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- end list user -->
    </div>
  </div>
</div>
