<div class="SbMargin row align-items-md-stretch">
    <div class="row">
        <div class="col-md-3 align-items-center">
        </div>
        <div class="col-md-6 align-items-center">
            <br>
            <div class="h-500 p-5 bg-light border rounded-4">
              <h1 class="headTitle text-center">Search Medical Record</h1>

              <!--Begin SEARCH PAGE -->
              <form #myForm="ngForm">
                
                <div class="row">
                  <!-- begin search field -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <input
                        type="search"
                        class="form-control"
                        id="search"
                        name="search"
                        required
                        placeholder="search patient record using email address"
                        [(ngModel)]="inputValue1" 
                      />
                    </div>
                  </div>
                  <!-- end search field -->

                  <!-- start validation -->
                  <div *ngIf="isSubmitted" class="text-danger">
                    <div [hidden]="isSearchValid">
                      Please enter valid email address
                    </div>
                  </div>
                  <!-- end validation -->

                  <!-- begin form controls -->
                  <div class="col-12">
                    <button
                      class="btn btn-primary"
                      type="submit" 
                      (click)="reloadChildComponent()"
                      (click)="submit(myForm)"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                      Search
                    </button>
                    <span>&nbsp;</span>
                  </div>
                  <!-- end form controls -->
                </div>

              </form>
              <!--END SEARCH PAGE -->
            </div>
        </div>
        <div class="col-md-3 align-items-center">
        </div>
    </div>

    <!--CALLING MEDICAL-RECORD COMPONENT-->
    <div class="row">
          <app-medical-record [input1]="inputValue1" [input2]="inputValue2"></app-medical-record>
    </div>
    
</div>






