<div class="SbMargin row align-items-md-stretch">
    <div class="row">
        <div class="col-md-3 align-items-center">
        </div>
        <div class="col-md-6 align-items-center">
            <br>
            <div class="h-500 p-5 bg-light border rounded-4">
              <h1 class="headTitle text-center">Search Medical Record</h1>
              <p>{{searchText}}</p>
              <form
                novalidate
                #form="ngForm"
                (ngSubmit)="save(form)"
              >
                <div class="row">
                  <!-- begin search -->
                  <div class="col-12">
                    <div class="form-group mb-2">
                      <input
                        type="search"
                        class="form-control"
                        id="search"
                        name="search"
                        required
                        placeholder="searching.."
                        [(ngModel)]="searchText"
                      />
                    </div>
                  </div>
                  <!-- end search -->

                  <!-- begin form controls -->
                  <div class="col-12">
                    <button
                      class="btn btn-primary"
                      type="button"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                      Search
                    </button>
                    <span>&nbsp;</span>
                  </div>
                  <!-- end form controls -->
                </div>
              </form>
              <!-- end profile form -->
            </div>
        </div>
        <div class="col-md-3 align-items-center">
        </div>
    </div>
    <div class="row">
          <app-medical-record [dataFromSearchPage]="data"></app-medical-record>
    </div>
    
</div>






